<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>Item</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>商品詳細</h2>
    </div>
    <div>
        <label for="itemId">商品 ID</label>
        <input class="form-control" id="itemId" name="itemId" readonly th:value="${item.id}" type="text" value="1">
    </div>
    <div>
        <label for="itemName">商品名</label>
        <input class="form-control" id="itemName" name="itemName" readonly th:value="${item.itemName}" type="text"
               value="商品A">
    </div>
    <div>
        <label for="price">値段</label>
        <input class="form-control" id="price" name="price" readonly th:value="${item.price}" type="text" value="10000">
    </div>
    <div>
        <label for="quantity">数量</label>
        <input class="form-control" id="quantity" name="quantity" readonly th:value="${item.quantity}" type="text"
               value="10">
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/basic/items/{itemId}/edit(itemId=${item.id})}'|" type="button">商品修正
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/basic/items}'|" type="button">リストへ
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>