<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //Js natural template
    var username2 = /*[[${user.username}]]*/ "test username";
    //Object
    var user = [[${user}]];
</script>
<!-- Js inline -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //Js natural template
    var username2 = /*[[${user.username}]]*/ "test username";
    //Object
    var user = [[${user}]];

</script>

</body>
</html>
