<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>算術演算
        <ul>
            <li>10 + 2 = <span th:text="10 + 2"></span></li>
            <li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
        </ul>
    </li>
    <li>比較演算
        <ul>
            <li>1 > 10 = <span th:text="1 &gt; 10"></span></li>
            <li>1 gt 10 = <span th:text="1 gt 10"></span></li>
            <li>1 >= 10 = <span th:text="1 >= 10"></span></li>
            <li>1 ge 10 = <span th:text="1 ge 10"></span></li>
            <li>1 == 10 = <span th:text="1 == 10"></span></li>
            <li>1 != 10 = <span th:text="1 != 10"></span></li>
        </ul>
    </li>
    <li>条件式
        <ul>
            <li>(10 % 2 == 0)? '偶数':'奇数' = <span th:text="(10 % 2 == 0)? '偶数':'奇数'"></span></li>
        </ul>
    </li>
    <li>Elvis 演算子
        <ul>
            <li>${data}?: 'データがありません.' = <span th:text="${data}?: 'データがありません'"></span></li>
            <li>${nullData}?: 'データがありません.' = <span th:text="${nullData}?: 'データがありません.'"></span></li>
        </ul>
    </li>
    <li>No-Operation
        <ul>
            <li>${data}?: _ = <span th:text="${data}?: _">データがありません.</span></li>
            <li>${nullData}?: _ = <span th:text="${nullData}?: _">データがありません.</span></li>
        </ul>
    </li>
</ul>
</body>
</html>